body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px 0;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

#suggestions {
    text-align: center;
    margin-top: 10px;
}

.suggestion-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 2px;
}

.suggestion-item:hover,
.suggestion-item.highlight {
    background-color: #ddd;
}

.event-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
